version: "3.9"

services:
  db:
    image: postgres:14.2
    restart: unless-stopped
    container_name: ctf_db
    volumes:
      - ./data/db:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    networks:
      - ctf_network

  app:
    build: .
    command: python3 manage.py runserver 0.0.0.0:8000
    restart: unless-stopped
    container_name: ctf_app
    volumes:
      - .:/code
    ports:
      - "8000:8000"
    environment:
      - POSTGRES_NAME=postgres
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    depends_on:
      - db
    networks:
      - ctf_network

networks:
  ctf_network:
    driver: bridge
